@page

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Hello, world!</title>
</head>
<body>
<main>
    <h1>Support Jobs REST API</h1>
    <p>Support Jobs REST API is a simple API that allows you to manage Jobs.</p>
    <ul>
        <li><a href="/swagger">Swagger documentation</a></li>
    </ul>
</main>
</body>
</html>
